{% extends 'base.html.twig' %}

{% block title %}S'inscrire{% endblock %}

{% block body %}

        <form method="post">
            <h1>Inscription</h1>
            <div style="padding-left: 4rem; padding-right: 4rem">
            {{ form_start(registrationForm) }}
            {{ form_row(registrationForm.nom) }}
            {{ form_row(registrationForm.prenom) }}
            {{ form_row(registrationForm.telephone) }}
            {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.plainPassword, {
                label: 'Password'
            }) }}
            <div style="padding-bottom: 1rem">
                <a href="https://policies.google.com/privacy">Règles de confidentialité</a> &
                <a href="https://policies.google.com/terms">Conditions d’utilisation</a>
            </div>
            {{ form_row(registrationForm.agreeTerms) }}
            <button type="submit" class="btn btn-lg btn-primary">S'inscrire</button>
            {{ form_end(registrationForm) }}
        </form>
    </div>
{% endblock %}
