{% extends 'base.html.twig' %}

{% block title %}Réservation{% endblock %}

{% block body %}

    <div>{{ "now" | date() }}</div>


    {#    <div class="container mx-auto"> #}
    {#        <div class="row text-center"> #}
    {#            <div id="calendrierJour"></div> #}
    {#        </div> #}

    <hr>

    <div>
        <table class="table">
            <thead>
            <tr>
                <th>Plats Salé</th>
                <th>Prix</th>
                <th>Quantité</th>
                <th>Total</th>
            </tr>
            </thead>
            <tbody>
            {% for plats in plats %}
                {% if plats.saveur == 0 %}
                    {% if plats.etat == true %}
                        <tr>
                            <td class="col-md-4">
                                <a href="#" class="text-decoration-none" data-bs-toggle="modal"
                                   data-bs-target="#platsSaleModal-{{ plats.id }}">{{ plats.titre }}</a>
                            </td>
                            <td class="col-md-3">
                                {{ plats.prix/100 | number_format() }} €
                            </td>
                            <td class="col-md-2">
                        <span id="btSaleMoins-{{ plats.id }}">
                            <i class="fa-sharp fa-solid fa-circle-minus fa-xl" style="color: darkred"></i>
                        </span>

                                <span id="qteSale-{{ plats.id }}">
{#                            {{ quantite }} #}
                        </span>

                                <span id="btSalePlus-{{ plats.id }}">
                            <i class="fa-sharp fa-solid fa-circle-plus fa-xl" style="color: green"></i>
                        </span>

                            </td>
                            <td class="col-md-3">
                        <span class="totalLigne" id="totalSale-{{ plats.id }}">
{#                            {{ total }} #}
                        </span>
                                €
                            </td>

                        </tr>


                        <!-- Modal -->
                        <div class="modal fade" id="platsSaleModal-{{ plats.id }}" tabindex="-1"
                             aria-labelledby="exampleModalLabel"
                             aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title"
                                            id="exampleModalLabel">{{ plats.titre | raw }}</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        {{ plats.description | raw }}
                                        {% if imagesplats is not empty %}
                                            <div class="mt-3">
                                                <div id="carouselExampleIndicators" class="carousel slide p-3 "
                                                     data-bs-ride="carousel">
                                                    <div class="carousel-inner">

                                                        {% for imagesplats in plats.images %}

                                                            <div class="carousel-item {% if loop.first %} active {% endif %}">
                                                                <img src="{{ asset('asset/images/' ~ imagesplats.imageName) }}"
                                                                     class="d-block w-100 h-100 rounded-2"
                                                                     alt="images plats">
                                                            </div>

                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>

                    {% else %}
                        <tr>
                            <td colspan="5" class="text-center">Oups, aucun plats a afficher !</td>
                        </tr>
                    {% endif %}
                {% endif %}
            {% endfor %}
            </tbody>
        </table>

        <table class="table">
            <thead>
            <tr>
                <th>Plats Sucré</th>
                <th>Prix</th>
                <th>Quantité</th>
                <th>Total</th>
            </tr>
            </thead>
            <tbody>
            {% for plats in plats %}
                {% if plats.saveur == 1 %}
                    {% if plats.etat == true %}
                        <tr>
                            <td class="col-md-4">
                                <a href="#" class="text-decoration-none" data-bs-toggle="modal"
                                   data-bs-target="#platsSucreModal-{{ plats.id }}">{{ plats.titre }}</a>
                            </td>
                            <td class="col-md-3">
                                {{ plats.prix/100 | number_format() }} €
                            </td>
                            <td class="col-md-2">
                                <span id="btSucreMoins-{{ plats.id }}">
                                    <i class="fa-sharp fa-solid fa-circle-minus fa-xl" style="color: darkred"></i>
                                </span>

                                <span id="qteSucre-{{ plats.id }}">
{#                                    {{ quantite }} #}
                                </span>

                                <span id="btSucrePlus-{{ plats.id }}">
                                    <i class="fa-sharp fa-solid fa-circle-plus fa-xl" style="color: green"></i>
                                </span>

                            </td>
                            <td class="col-md-3">
                                <span class="totalLigne" id="totalSucre-{{ plats.id }}">
{#                                    {{ total }} #}
                                </span>
                                €
                            </td>
                        </tr>

                        <!-- Modal -->
                        <div class="modal fade" id="platsSucreModal-{{ plats.id }}" tabindex="-1"
                             aria-labelledby="exampleModalLabel"
                             aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">{{ plats.titre }}</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        {{ plats.description | raw }}
                                        {% if imagesplats is not empty %}
                                            <div class="mt-3">
                                                <div id="carouselExampleIndicators" class="carousel slide p-3 "
                                                     data-bs-ride="carousel">
                                                    <div class="carousel-inner">

                                                        {% for imagesplats in plats.images %}

                                                            <div class="carousel-item {% if loop.first %} active {% endif %}">
                                                                <img src="{{ asset('asset/images/' ~ imagesplats.imageName) }}"
                                                                     class="d-block w-100 h-100 rounded-2"
                                                                     alt="images plats">
                                                            </div>

                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>

                    {% else %}
                        <tr>
                            <td colspan="5" class="text-center">Oups, aucun plats a afficher !</td>
                        </tr>
                    {% endif %}
                {% endif %}
            {% endfor %}
            </tbody>
        </table>

        <hr>

        {#            <div class="text-end"> #}
        {#                <h3>Total Panier</h3> #}
        {#                <h3><span id="totalGeneral">{{ totalGeneral }}</span> €</h3> #}
        {#            </div> #}

        {#            #}{#        //TODO a cacher #}
        {#            <div class="text-end"> #}
        {#                <h3><span id="totalGeneralDuree">{{ totalDuree }}</span> min</h3> #}
        {#            </div> #}

        <div id="calendrierHeure"></div>

    </div>

    <div class="row">
        <div class="liens">
            <h2><a href="{{ path('reservation_validationMidi') }}" class="btn btn-primary">Valider</a></h2>
            <h2><a href="{{ path('reservation_home') }}" class="btn btn-primary">Retour</a></h2>
        </div>
    </div>
    </div>

{% endblock %}