{% extends 'base.html.twig' %}

{% block title %}Réservation Validation{% endblock %}

{% block body %}

    <h2>{{ "now"|format_datetime('full', 'short', locale='fr') }}</h2>
    <hr>
    <div class="container mx-auto">

        <h3> {{ user.prenom }}, voici un résumé de votre panier :</h3>

        {% set total = null %}
        {% set tempsTotal = null %}
        {% for item in panier %}
            {% set total = total + (item.plat.prix * item.quantite) %}
            {% set tempsTotal = tempsTotal + item.plat.duree + 2 %}
            <table>
                <tr>
                    <td>{{ item.quantite }}x</td>
                    <td style="padding-left: 1rem">{{ item.plat.titre }}</td>
                </tr>
            </table>
        {% endfor %}

        <hr>

        <h3>Pour un Total de {{ total/100 | number_format() }}€</h3>

        <hr>

        <h2>La commande sera disponible dans {{ tempsTotal }} minutes</h2>

        <div>Une fois le paiement validé, un mail de confirmation ainsi que le numéro de réservation vous sera envoyé a
            l'adresse suivante : {{ user.email }}</div>

    </div>

    <div class="row">
        <div class="flex-row liens">
            <div class="row-cols-1" style="padding-bottom: 3rem">
                <div>Payer {{  total/100 | number_format()  }} € par Paypal</div>
                <a href="{{ path('reservation_paiementMidi') }}" class="btn btn-primary">
                    <img src="{{ asset('asset/icone/Paypal_2014_logo.png') }}" alt="" width="30rem">
                </a>
            </div>
            <div class="m-4 p-1">
                <a href="{{ path('reservation_midi') }}" class="btn btn-primary">Modifier le Panier</a>
            </div>
        </div>
    </div>

{% endblock %}
